main {
  background-color: black;
  overflow: hidden;
}

.bodyCape {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  justify-content: center;
  /* border: 1px solid black; */
  cursor: pointer;
}

.fullBody {
  height: 100vh;
}

.animationUP {
  animation: animateMain 0.7s linear;
  height: 30vh;
  /* cursor: default; */
}

.animateSec {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@keyframes animateMain {
  0% {
      height: 100vh;
  }
  100% {
      height: 20vh;
  }
}

.mainTitle {
  font-family: 'Colege';
  font-size: 5vw;
  margin-top: 30px;
}

.mainSubTitle {
  font-family: 'Curviline';
  font-size: 2vw;
}

/* albuns.css */

.corpoAbum {
  animation: animateOpenAlbum2 2s forwards;
  background-color: gray;
  margin: 10px;
}

.animateOpenAlbum {
  position: absolute;
  animation: animateOpenAlbum 0.7s linear;
  animation-fill-mode: forwards;
  overflow: hidden;
}

@keyframes animateOpenAlbum {
  0% {
    width: 80px;
    display: flex;
  }
  100% {
    width: 0px;
    transform: rotateY(3rad);
    visibility: hidden;
  }
}

@keyframes animateOpenAlbum2 {
  0% {
    height: 0vh;
  }
  100% {
    height: auto;
    min-height: 150vh;
  }
}
