.bodyCape {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  justify-content: center;
  /* border: 1px solid black; */
  cursor: pointer;
}

.fullBody {
  height: 100vh;
}

.animationUP {
  animation: animateMain 0.7s linear;
  height: 30vh;
  /* cursor: default; */
}

.animateSec {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@keyframes animateMain {
  0% {
      height: 100vh;
  }
  100% {
      height: 20vh;
  }
}

.mainTitle {
  font-family: 'Colege';
  font-size: 5vw;
  margin-top: 30px;
}

.mainSubTitle {
  font-family: 'Curviline';
  font-size: 2vw;
}

/* albuns.css */

.animateOpenAlbum {
  animation: animateOpenAlbum 0.7s linear;
  overflow: hidden;
  width: 0px;
}

@keyframes animateOpenAlbum {
  0% {
    width: 85px;
  }
  100% {
    width: 0px;
    margin-left: 40px;
    transform: rotateY(3.142rad);
  }
}
