.bodyCape {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  border: 1px solid black;
  /* height: 100vh; */
}

.fullBody {
  height: 100vh;
}

.animationUP {
  animation: animate 3s linear;
}

@keyframes animate {
  0% {
      /* transform: translateX(100px); */
      height: 100vh;
  }
  100% {
      /* transform: translateX(0); */
      height: 30vh;
  }
}