.bodyCape {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  border: 1px solid black;
}

.animationUP {
  animation: animate 3s linear;
}

@keyframes animate {
  0% {
      transform: translateX(100px);
  }
  100% {
      transform: translateX(0);
  }
}