.noBody {
  display: none;
  height: 50vh;
}

.opAlbum {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
}

.menuAlbuns {
  animation: animateOpenMenuAlbuns 0.5s linear;
  margin: 20px;
  border: 3px double gold;
  width: 90vw;
  height: 50vh;
}

@keyframes animateOpenMenuAlbuns {
  0% {
      height: 18vh;
  }
  100% {
      height: 50vh;
  }
}